* {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 400;
}

.prompt {
  font-size: 5rem;
  outline-style: dashed;
  padding: 0 2rem;
  margin: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.prompt::after {
  content: "";
  width: 50%;
  height: 3.5rem;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
  position: absolute;
  top: 23%;
  left: 25%;
}

.prompt::before {
  content: "";
}
